<log4net>

  <appender name="All" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/Log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxWindowSizeRollBackups value="3" />
    <maximumFileWindowSize value="100MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="All" />
  </root>


  <logger additivity="True" name="ApplicationSettingsLog">
    <level value="DEBUG"/>
    <appender-ref ref="ApplicationSettingsLog" />
  </logger>

  <appender name="ApplicationSettingsLog" type="log4net.Appender.RollingFileAppender">
    <appendToFile value="true" />
    <rollingStyle value="WindowSize" />
    <maxWindowSizeRollBackups value="2" />
    <maximumFileWindowSize value="10MB" />
    <staticLogFileName value="true" />
    <PreserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json"> </layout>
  </appender>

</log4net>